.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.hero {
  background-image: url(https://images.unsplash.com/photo-1495657809423-db624a2298dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2266&q=80);
  min-height: 400px;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header{
  background-color: #09d3ab88;
}

.App-link {
  color: #09d3ac;
}
